body {
  background-color: #23252C;

}

#root {
  width: 317px;
  height: 770px;
  color: white;
  background-color: #1A1B21;
  margin: auto;
  margin-top: 20px;
}

.Header-Image {
  border-radius: 10px 10px 0px 0px;
  height: 317px;
  width: 317px;
  left: 116px;
  top: 44px;
  border-radius: [object Object]px;
  margin-bottom: 21px;
}

.Header-name {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  color: #FFFFFF;

}

.Header-role {
  margin: 0px auto 6.19px auto;
  text-align: center;
  color: #F3BF99;

  /*  */
  width: 178.06px;
  height: 14.19px;
  left: 186px;
  top: 414px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;

}

.Header-mail {
  margin: 0px auto 8.81px auto;
  text-align: center;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

.Button-component {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.Email-button {
  background-color: white;
  margin-right: 15px;
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;

  /*  */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.Email-icon {
  height: 9.600001335144043px;
  width: 12.800000190734863px;
  left: 1.600006103515625px;
  top: 3.20001220703125px;
  border-radius: 0px;
  margin-right: 9.6px;

  left: 10%;
  right: 10%;
  top: 20%;
  bottom: 20%;
}

.Linkedin-button {
  background-color: #5093E2;
  color: #FFFFFF;
  width: 115px;
  height: 35px;

  /*  */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.Linkedin-icon {
  height: 13.333333969116211px;
  width: 13.333333969116211px;
  left: 1.333343505859375px;
  top: 1.333343505859375px;
  border-radius: 0px;
  margin-right: 9.6px;

  height: 13.333333969116211px;
  width: 13.333333969116211px;
  left: 1.333343505859375px;
  top: 1.333343505859375px;
  border-radius: 0px;


}

#MainComponent {
  margin: 33px 38.39px 0px 36px;
}

.About {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0px;
  color: #F5F5F5;

}

.About-info {
  margin-top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

.Interest {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0px;
  color: #F5F5F5;
  margin-top: 27px;
}

.Interest-info {
  margin-top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
}

.Footer {
  background-color: #161619;
  height: 64px;
  width: 317px;
  left: 116px;
  top: 760px;
  border-radius: [object Object]px;

}

.Twitter-icon,
.Facebook-icon .Insta-icon .Github-icon {
  height: 25.000001907348633px;
  width: 25.000001907348633px;
  left: 189px;
  top: 779px;
  border-radius: 0px;
  /* background-color: #918E9B; */
  ;
}

.Twitter-icon {
  margin: 19px 24px 20px 73px;
}

.Facebook-icon {
  margin: 19px 24px 20px 0px;
}

.Insta-icon {
  margin: 19px 24px 20px 0px;
}

.Github-icon {
  margin: 19px 0px 19px 0px;
}